# Python
__pycache__/
*.pyc

# Virtual Environment (standard practice to ignore)
.venv/

# IDE files (e.g., PyCharm, IntelliJ)
.idea/

# Database file
db.sqlite3

# Security files (CRITICAL: Keeps secrets out of the repository)
.env