# Python
__pycache__/
*.pyc

# IDE files (e.g., PyCharm, IntelliJ)
.idea/

# Database file
db.sqlite3

# Ignore all files inside the media directory
media/*

# But don't ignore the .gitkeep file
!media/.gitkeep

# Security files
.env