{% extends 'admin-dashboard.html' %}
{% block content %}
    <h1 class="h3 mb-3"><strong>Admin</strong> Dashboard</h1>

<!---------------------- Add new project form -------------------->
    <div class="row">
        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header d-flex justify-content-between">

                    <h5 class="card-title mb-0">Latest Projects</h5>
                    <button class="btn btn-primary">Edit Default Bank Details </button>
                </div>
                <table class="table table-hover my-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="d-none d-xl-table-cell">Start Date</th>
                            <th class="d-none d-xl-table-cell">End Date</th>
                            <th>Status</th>
                            <th class="d-none d-md-table-cell">Assignee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Project Apollo</td>
                            <td class="d-none d-xl-table-cell">01/01/2021</td>
                            <td class="d-none d-xl-table-cell">31/06/2021</td>
                            <td><span class="badge bg-success">Done</span></td>
                            <td class="d-none d-md-table-cell">Vanessa Tucker</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}