{% extends 'admin-dashboard.html' %}
{% load static %}
{% block content %}
{% load humanize %}

<!-------------------Modal for updating project details--------------------->
<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Add a new Project</strong></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="post" action="{% url 'admin_update_project' pid=project.id %}">
                {% csrf_token %}
                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-6 px-3">
                            <h3 class="card-title my-2 text-black">Project Details</h3>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control" id="projectTitle" placeholder="Enter the project title.. " name="title" value="{{project.title}}">
                                        <label for="projectTitle">Project Title</label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control" id="fundingGoal" placeholder="Enter the funding goal.. " name="goal" value="{{project.funding_goal}}">
                                        <label for="fundingGoal">Funding Goal</label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control" id="tileValue" placeholder="Enter tile value " name="tvalue" value="{{project.tile_value}}">
                                        <label for="tileValue">Single Tile Value</label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-floating mb-2">
                                        <textarea class="form-control" id="projectDesc" style="resize:none; height:75px;" placeholder="Enter the description..." name="desc">{{project.description}}</textarea>
                                        <label for="projectDesc">Project Description</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 px-3">
                            <h3 class="card-title my-2 text-black">Beneficiary Details</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control" id="fname" placeholder="Enter Firstname" name="fname" value="{{project.beneficiary.first_name}}">
                                        <label for="fname">First Name</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control" id="lname" placeholder="Enter Lastname" name="lname" value="{{project.beneficiary.last_name}}">
                                        <label for="lname">Last Name</label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-floating mb-2">
                                        <input type="number" class="form-control" id="age"  placeholder="Enter Age " name="age" value="{{project.beneficiary.age}}">
                                        <label for="age">Enter Age</label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-floating mb-2">
                                        <input type="tel" class="form-control" id="telPhn"  placeholder="Enter Phone Number.. " name="phn" value="{{project.beneficiary.phone_number}}">
                                        <label for="telPhn">Phone Number</label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-floating mb-2">
                                        <textarea class="form-control" style="resize:none; height:75px;" id="address" placeholder="Enter your Address.." name="addr">{{project.beneficiary.address}}</textarea>
                                        <label for="address">Address</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer d-flex justify-content-between">
                    <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Reset & Close</button>
                    <button type="submit" class="btn btn-success">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-------------------Modal for uploading images--------------------->
<div class="modal fade" id="imgModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="imgModalLabel"><strong>Upload Image</strong></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'upload_project_image' project_id=project.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <table class="table">
                      <tbody>
                      {% for image in project.images.all %}
                        <tr>
                            <th>
                                <a href="{{image.project_img.url}}" target="_blank" rel="noopener noreferrer">{{image.project_img}}</a>
                            </th>
                            <td class="text-end">
                                <a class="" href="/administrator/del_prj_img/{{image.id}}/">Delete</a>
                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    <div class="my-2">
                        <input type="file" class="form-control" id="img" placeholder="Upload an image.. " name="img">
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-------------------Modal for share project--------------------->
<div class="modal fade" id="shareProjectModal" tabindex="-1" aria-labelledby="shareProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5 text-white" id="shareProjectModalLabel"><strong>Share this Project</strong></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center p-4">
                <p class="lead mb-4">You can share this project's link using these options:</p>
                <div class="input-group mb-3">
                    <input id="projectLinkInput" class="form-control" type="text" readonly>
                    <button id="copyProjectLink" class="btn btn-outline-secondary" type="button">
                        <i class="align-middle" data-feather="copy"></i>
                    </button>
                </div>
                <div class="d-flex justify-content-center flex-wrap">
                    <a href="#" id="whatsappShareProject" target="_blank" class="btn btn-success m-2">
                        <i class="align-middle" data-feather="message-circle"></i>
                        WhatsApp
                    </a>
                    <a href="#" id="facebookShareProject" target="_blank" class="btn btn-primary m-2">
                        <i class="align-middle" data-feather="thumbs-up"></i>
                        Facebook
                    </a>
                    <a href="#" id="twitterShareProject" target="_blank" class="btn btn-info m-2">
                        <i class="align-middle" data-feather="twitter"></i>
                        Twitter
                    </a>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-12">
        <div class="row g-4">

            <div class="col-xl-8 col-lg-12">
                <div class="card border-0 shadow-lg rounded-4 flex-fill p-4">
                    <h1 class="fw-bolder text-dark mb-4">{{ project.title }}</h1>

                    <div class="card border-0 rounded-3 overflow-hidden shadow-sm mb-4">
                        <div id="projectImageCarousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                            {% if project.images.all %}
                                {% for image in project.images.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                  <img src="{{ image.project_img.url }}" class="d-block w-100 object-fit-cover" style="height: 450px;" alt="Project Image {{ forloop.counter }}">
                                </div>
                                {% endfor %}
                            {% else %}
                                <div class="carousel-item active">
                                    <img src="{% static 'Dashboard/img/photos/default-banner.jpg' %}" class="d-block w-100 object-fit-cover bg-light" style="height: 450px;" alt="No image available">
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>

                    <h4 class="mb-3 fw-bold text-dark border-bottom pb-2">Description</h4>
                    <p class="mb-4 text-muted">{{ project.description }}</p>

                    <h4 class="mb-3 fw-bold text-dark border-bottom pb-2 mt-4">Timeline</h4>
                    <ul class="list-unstyled row mb-0 g-3">
                        <li class="col-md-6">
                            <div class="p-3 bg-light rounded-3 d-flex align-items-center h-100">
                                <i class="align-middle me-3 text-primary flex-shrink-0" data-feather="calendar" style="width: 24px; height: 24px;"></i>
                                <div>
                                    <strong class="small text-muted d-block">Created on:</strong>
                                    <span class="fw-bold text-dark">{{ project.started_at|date:"d M, Y h:i A" }}</span>
                                </div>
                            </div>
                        </li>

                        <li class="col-md-6">
                            <div class="p-3 bg-light rounded-3 d-flex align-items-center h-100">
                                <i class="align-middle me-3 text-primary flex-shrink-0" data-feather="activity" style="width: 24px; height: 24px;"></i>
                                <div>
                                    <strong class="small text-muted d-block">Current Status:</strong>
                                    <span class="fw-bold
                                        {% if project.closed_by %}
                                            text-success
                                        {% elif not project.table_status %}
                                            text-danger
                                        {% else %}
                                            text-primary
                                        {% endif %}">
                                        {% if project.closed_by %}
                                            {{ project.closed_by|date:"d M, Y h:i A"  }}
                                        {% elif not project.table_status %}
                                            Permanently Closed
                                        {% else %}
                                            Ongoing
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-4 col-lg-12">
                <div class="card border-0 shadow-lg rounded-4 sticky-top" style="top: 1.5rem;">
                    <div class="card-body p-4">
                        <h5 class="fw-bold mb-3 text-dark">Funding Summary</h5>

                        {% if project.current_amount == project.funding_goal %}
                            <div class="alert alert-success fw-bold text-center py-2 rounded-3" role="alert">
                                <i class="align-middle me-1" data-feather="check-circle"></i> PROJECT SUCCESSFUL
                            </div>
                        {% elif project.validity == False %}
                            <div class="alert alert-danger fw-bold text-center py-2 rounded-3" role="alert">
                                <i class="align-middle me-1" data-feather="x-circle"></i> PROJECT FAILED
                            </div>
                        {% else %}
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <strong class="text-muted">Progress</strong>
                                <strong class="text-primary fw-bold">{{ project.progress }}%</strong>
                            </div>
                            <div class="progress rounded-pill mb-4" role="progressbar" aria-label="Project Progress" aria-valuenow="{{ project.progress }}" aria-valuemin="0" aria-valuemax="100" style="height: 10px;">
                                <div class="progress-bar bg-primary" style="width: {{ project.progress }}%;"></div>
                            </div>
                        {% endif %}

                        <ul class="list-group list-group-flush mb-4">
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <strong class="text-muted">Funding Goal</strong>
                                <h5 class="mb-0 fw-bold">₹{{ project.funding_goal|floatformat:2|intcomma }}</h5>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <strong class="text-muted">Current Amount</strong>
                                <h5 class="mb-0 fw-bold text-success">₹{{ project.current_amount|floatformat:2|intcomma }}</h5>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <strong class="text-muted">Tile Value</strong>
                                <span class="fw-bold">₹{{ project.tile_value|floatformat:2|intcomma }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <strong class="text-muted">Available Tiles</strong>
                                <span class="fw-bold">{{ available_tiles_count }}</span>
                            </li>
                        </ul>

                        <hr class="mt-0 mb-4">

                        <h5 class="fw-bold mb-3 text-dark">Management</h5>

                        <div class="mb-3 d-flex justify-content-between align-items-center p-2 rounded-3 border">
                            <span class="fw-bold text-dark me-2">Project Status:</span>
                            <form id="status-form-{{ project.id }}" action="/administrator/change-project-status/{{ project.id }}/" method="post" class="d-flex align-items-center">
                                {% csrf_token %}
                                {% if not admin.is_superuser %}
                                <div class="form-check form-switch m-0 me-3">
                                    <input class="form-check-input status-switch" type="checkbox" role="switch" id="switchCheck-{{ project.id }}" {% if project.table_status %}checked{% endif %}>
                                </div>
                                {% endif %}

                                {% if project.table_status %}
                                    <span class="badge bg-success bg-opacity-10 text-success fw-bold p-2 rounded-pill">
                                        Active
                                    </span>
                                {% else %}
                                    <span class="badge bg-secondary bg-opacity-10 text-secondary fw-bold p-2 rounded-pill">
                                        Closed
                                    </span>
                                {% endif %}
                            </form>
                        </div>

                        <div class="d-grid gap-2">

                            {% if not admin.is_superuser %}
                            <button type="button" class="btn btn-outline-primary fw-semibold rounded-pill py-2" data-bs-toggle="modal" data-bs-target="#projectModal">
                                <i class="align-middle me-1" data-feather="edit"></i> Edit Details
                            </button>
                            <button type="button" class="btn btn-outline-info fw-semibold rounded-pill py-2" data-bs-toggle="modal" data-bs-target="#imgModal">
                                <i class="align-middle me-1" data-feather="image"></i> Manage Images
                            </button>
                            <a href="/administrator/delete-project/{{project.id}}/" class="btn btn-outline-danger fw-semibold rounded-pill py-2">
                                <i class="align-middle me-1" data-feather="trash"></i> Delete Project
                            </a>
                            {% endif %}
                            <button type="button" class="btn btn-primary fw-semibold rounded-pill py-2" data-bs-toggle="modal" data-bs-target="#shareProjectModal">
                                <i class="align-middle me-1" data-feather="share-2"></i> Share Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-12">
        <div class="card border-0 shadow-lg rounded-4 flex-fill">

            <div class="card-header bg-white rounded-top-4 border-bottom p-0">
                <ul class="nav nav-tabs border-0 p-3" id="projectDetailsTab" role="tablist">

                    <li class="nav-item" role="presentation">
                        <button class="nav-link active fw-bold px-4 py-2" id="beneficiary-tab" data-bs-toggle="tab" data-bs-target="#beneficiary-tab-pane" type="button" role="tab" aria-controls="beneficiary-tab-pane" aria-selected="true">
                            <i class="align-middle me-1" data-feather="user"></i> Beneficiary Details
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-bold px-4 py-2" id="tiles-tab" data-bs-toggle="tab" data-bs-target="#tiles-tab-pane" type="button" role="tab" aria-controls="tiles-tab-pane" aria-selected="false">
                            <i class="align-middle me-1" data-feather="grid"></i> Tile Status
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-bold px-4 py-2" id="transactions-tab" data-bs-toggle="tab" data-bs-target="#transactions-tab-pane" type="button" role="tab" aria-controls="transactions-tab-pane" aria-selected="false">
                            <i class="align-middle me-1" data-feather="dollar-sign"></i> Transactions
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-bold px-4 py-2" id="updates-tab" data-bs-toggle="tab" data-bs-target="#updates-tab-pane" type="button" role="tab" aria-controls="updates-tab-pane" aria-selected="false">
                            <i class="align-middle me-1" data-feather="message-square"></i> Updates
                        </button>
                    </li>

                </ul>
            </div>

            <div class="card-body p-4">
                <div class="tab-content" id="projectDetailsTabContent">

                    <div class="tab-pane fade show active" id="beneficiary-tab-pane" role="tabpanel" aria-labelledby="beneficiary-tab" tabindex="0">
                        <div class="row">
                            <div class="col-12">
                                <div class="row g-4">

                                    <div class="col-md-4 text-center">
                                        <form id="uploadForm" method="post" action="/administrator/bene_img/{{project.id}}/" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="file" id="imgUpload" name="bene_img" class="d-none" onchange="this.form.submit();">
                                            <label for="imgUpload" class="d-inline-block position-relative">
                                                <img
                                                    {% if project.beneficiary.profile_pic %}
                                                        src="{{ project.beneficiary.profile_pic.url }}"
                                                    {% else %}
                                                        src="{% static 'Dashboard/img/avatars/default-avatar.jpg' %}"
                                                    {% endif %}
                                                    alt="Click to upload an image"
                                                    class="rounded-circle border border-5 border-primary shadow-sm img-fluid"
                                                    style="width: 180px; height: 180px; object-fit: cover; cursor: pointer;">
                                                <span class="position-absolute bottom-0 end-0 p-1 bg-primary text-white rounded-circle shadow-sm" style="transform: translate(0, -10%);">
                                                    <i data-feather="camera" style="width: 18px; height: 18px;"></i>
                                                </span>
                                            </label>
                                        </form>
                                    </div>

                                    <div class="col-md-8">

                                        <div class="mb-4 pb-2 border-bottom">
                                            <h3 class="mb-1 fw-bold text-dark">{{project.beneficiary.first_name}} {{project.beneficiary.last_name}}</h3>
                                            <span class="badge bg-secondary bg-opacity-10 text-secondary fw-semibold p-2">{{ project.beneficiary.age }}-years old</span>
                                        </div>

                                        <h5 class="fw-bold text-dark mb-3">Contact Information</h5>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item d-flex justify-content-between align-items-center bg-transparent ps-0 py-2">
                                                <strong class="text-muted"><i class="align-middle me-2 text-primary" data-feather="phone"></i> Phone Number:</strong>
                                                <span class="fw-semibold">+91-{{project.beneficiary.phone_number}}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-start bg-transparent ps-0 py-2">
                                                <strong class="text-muted w-50"><i class="align-middle me-2 text-primary" data-feather="map-pin"></i> Address:</strong>
                                                <span class="text-end fw-semibold w-50">{{project.beneficiary.address}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tiles-tab-pane" role="tabpanel" aria-labelledby="tiles-tab" tabindex="0">

                        <div class="d-flex justify-content-end flex-wrap gap-3 align-items-center mb-4">
                            <span class="badge bg-success bg-opacity-10 text-success fw-bold p-2"><i class="align-middle me-1" data-feather="check"></i> Available Tile</span>
                            <span class="badge bg-primary bg-opacity-10 text-primary fw-bold p-2"><i class="align-middle me-1" data-feather="loader"></i> Processing Tile</span>
                            <span class="badge bg-secondary bg-opacity-10 text-secondary fw-bold p-2"><i class="align-middle me-1" data-feather="tag"></i> Sold Tile</span>
                        </div>

                        <div class="container-fluid border border-2 py-3 rounded-3 overflow-auto bg-light" style="max-height: 400px;">
                            <div class="d-flex flex-wrap gap-2 justify-content-center">
                                {% for t in total_tiles_count|ljust:total_tiles_count %}
                                    <div id="T{{ forloop.counter }}" class="p-2 border rounded text-white text-center fw-bold shadow-sm
                                         {% if forloop.counter in sold_tiles_set %} bg-secondary
                                         {% elif forloop.counter in processing_tiles_set %} bg-primary
                                         {% else %} bg-success {% endif %}"
                                         style="width: 50px; height: 30px; display: flex; align-items: center; justify-content: center;">
                                        <span>{{ forloop.counter }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="transactions-tab-pane" role="tabpanel" aria-labelledby="transactions-tab" tabindex="0">
                        <h5 class="fw-bold mb-3 text-dark">Recent Transactions</h5>

                        <div class="table-responsive">
                            <table class="table table-hover align-middle mb-0">
                                <thead class="table-dark">
                                <tr>
                                    <th class="text-white small fw-bold text-uppercase">Sl no</th>
                                    <th class="text-white small fw-bold text-uppercase">Buyer</th>
                                    <th class="text-white small fw-bold text-uppercase">Tiles Bought</th>
                                    <th class="text-white small fw-bold text-uppercase">Amount</th>
                                    <th class="text-white small fw-bold text-uppercase">Time</th>
                                    <th class="text-white small fw-bold text-uppercase">Status</th>
                                    <th class="text-center text-white small fw-bold text-uppercase">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for t in transactions %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td class="fw-semibold">{{t.sender.full_name}}</td>
                                    <td>
                                        <span class="badge bg-primary bg-opacity-10 text-primary p-2 fw-bold me-1">{{ t.num_tiles }} Tiles</span>
                                    </td>
                                    <td class="fw-bold {% if t.status == 'Verified' %}text-success
                                            {% elif t.status == 'Rejected' %}text-danger
                                            {% else %}text-primary{% endif %}">₹{{t.amount|floatformat:2|intcomma }}</td>
                                    <td class="text-muted small">{{t.transaction_time|date:"d M, Y P"}}</td>
                                    <td>
                                        <span class="badge p-2 fw-bold rounded-pill
                                            {% if t.status == 'Verified' %}bg-success bg-opacity-10 text-success
                                            {% elif t.status == 'Rejected' %}bg-danger bg-opacity-10 text-danger
                                            {% else %}bg-warning bg-opacity-10 text-warning{% endif %}">
                                            {{ t.status }}
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <a href="/administrator/verify-transaction/{{t.id}}/" class="btn btn-info btn-sm rounded-pill px-3">
                                            <i class="align-middle" data-feather="info"></i> View
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="updates-tab-pane" role="tabpanel" aria-labelledby="updates-tab" tabindex="0">

                        <h5 class="fw-bold mb-3 text-dark">Post a New Update</h5>
                        <div class="card p-4 mb-5 border rounded-4 shadow-sm">
                            <form method="post" action="" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <textarea class="form-control" id="projectUpdateText" name="content" rows="4" placeholder="Share news, progress, or photos with your supporters..." required></textarea>
                                </div>
                                    <button type="submit" class="btn btn-primary fw-semibold rounded-pill px-4">
                                        <i class="align-middle me-1" data-feather="send"></i> Post Update
                                    </button>
                            </form>
                        </div>

                        <h5 class="fw-bold mb-3 text-dark border-bottom pb-2">Recent Updates</h5>

                        <div class="list-group">
                            {% for update in updates %}
                            <div class="list-group-item list-group-item-action mb-3 border-bottom rounded-3 shadow-sm p-4">
                                <div class="d-flex w-100 justify-content-between mb-1 border-bottom">
                                    <h6 class="mb-1 fw-bold text-dark">Update #{{ forloop.counter }}</h6>
                                    <small class="text-muted">{{ update.created_at|date:"d M, Y P" }}</small>
                                </div>
                                <p class="mb-1 mt-2 text-muted">{{ update.content }}</p>
                            </div>
                            {% empty %}
                            <div class="alert alert-info text-center" role="alert">
                                <i class="align-middle me-1" data-feather="info"></i> No updates have been posted for this project yet.
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    {% if messages %}
        {% for message in messages %}
            Swal.fire({
                title: '{{ message.tags|title }}!',
                text: '{{ message }}',
                icon: '{{ message.tags }}',
                confirmButtonText: 'OK'
            });
        {% endfor %}
    {% endif %}
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const shareModal = document.getElementById('shareProjectModal');
        const customUrl = `${window.location.protocol}//${window.location.host}/user/{{project.created_by.id}}/single-project/{{project.id}}/`;

        // This is a multiline message using a template literal
        const shareText = `Check out this amazing project: {{ project.title }}!
From {{ project.created_by.institution_name }}.
You can contribute to this project and help them reach their goal.`;

        // Function to copy the URL to the clipboard
        const copyToClipboard = () => {
            const inputField = document.getElementById('projectLinkInput');
            if (inputField) {
                inputField.select();
                inputField.setSelectionRange(0, 99999);
                navigator.clipboard.writeText(inputField.value).then(() => {
                    alert('Project link copied to clipboard!');
                }).catch(err => {
                    console.error('Failed to copy text:', err);
                });
            }
        };

        // Event listener for when the modal is shown
        if (shareModal) {
            shareModal.addEventListener('show.bs.modal', event => {
                const whatsappShare = document.getElementById('whatsappShareProject');
                const twitterShare = document.getElementById('twitterShareProject');
                const facebookShare = document.getElementById('facebookShareProject');
                const projectLinkInput = document.getElementById('projectLinkInput');

                if (projectLinkInput) {
                    projectLinkInput.value = customUrl;
                }

                if (whatsappShare) {
                    // Use '%0A' to add a newline before the URL to ensure it's clickable
                    whatsappShare.href = `https://wa.me/?text=${encodeURIComponent(shareText)}%0A${encodeURIComponent(customUrl)}`;
                }
                if (twitterShare) {
                    twitterShare.href = `https://twitter.com/intent/tweet?text=${encodeURIComponent(shareText)}&url=${encodeURIComponent(customUrl)}`;
                }
                if (facebookShare) {
                    facebookShare.href = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(customUrl)}`;
                }
            });
        }

        // Event listener for the Copy Link button
        const copyProjectLink = document.getElementById('copyProjectLink');
        if (copyProjectLink) {
            copyProjectLink.addEventListener('click', copyToClipboard);
        }
    });
</script>

<script>
    const fileInput = document.getElementById('imgUpload');
    fileInput.addEventListener('change', function() {
        if (this.files && this.files.length > 0) {
            this.form.submit();
        }
    });
</script>
<script>
    // This script will automatically submit the form when the switch is toggled.
    document.addEventListener('DOMContentLoaded', () => {
        // Find all switches on the page
        const switches = document.querySelectorAll('.status-switch');

        switches.forEach(switchInput => {
            switchInput.addEventListener('change', function() {
                // Find the parent form and submit it
                this.form.submit();
            });
        });
    });
</script>
{% endblock %}