{% extends 'admin-dashboard.html' %}
{% block content %}

<!---------------------- Modal for Adding new Institution -------------------->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Add a new Project</strong></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form method="post">
                    {% csrf_token %}
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-lg-6 px-4">
                                <h3 class="card-title my-2 text-black">Project Details</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="projectTitle" placeholder="Enter the project title.. " name="title">
                                            <label for="projectTitle">Project Title</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="fundingGoal" placeholder="Enter the funding goal.. " name="goal">
                                            <label for="fundingGoal">Funding Goal</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="tileValue" placeholder="Enter tile value " name="tvalue">
                                            <label for="tileValue">Single Tile Value</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-floating mb-2">
                                        <input type="date" class="form-control" id="closingDate" placeholder="Enter Closing Date " name="clsdate">
                                        <label for="closingDate">Closing Date</label>
                                    </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-floating mb-2">
                                            <textarea class="form-control" id="projectDesc" style="resize:none; height:75px;" placeholder="Enter the description..." name="desc"></textarea>
                                            <label for="projectDesc">Project Description</label>
                                        </div>
                                    </div>
                                </div>

                                <h3 class="card-title my-2 text-black">Beneficiary Details</h3>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="fname" placeholder="Enter Firstname" name="fname">
                                            <label for="fname">First Name</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="lname" placeholder="Enter Lastname" name="lname">
                                            <label for="lname">Last Name</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-floating mb-2">
                                            <input type="tel" class="form-control" id="telPhn"  placeholder="Enter Phone Number.. " name="phn">
                                            <label for="telPhn">Phone Number</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-floating mb-2">
                                            <input type="number" class="form-control" id="age"  placeholder="Enter Age " name="age">
                                            <label for="age">Enter Age</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-floating mb-2">
                                            <textarea class="form-control" style="resize:none; height:75px;" id="address" placeholder="Enter your Address.." name="addr"></textarea>
                                            <label for="address">Address</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6  px-4">
                                <h3 class="card-title my-2 text-black">Bank Details</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-floating mb-2">
                                            <select id="myDropdown" name="acc_type" class="form-control form-select">
                                                <option value="default" selected>Default Bank Account</option>
                                                <option value="custom" >Custom Bank Account</option>
                                            </select>
                                            <label for="myDropdown">Bank Typre</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control bank-field" id="acHolderFirstName" name="account_holder_first_name" placeholder="Enter First Name..">
                                            <label for="acHolderFirstName">A/c holder's Firstname</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control bank-field" id="acHolderLastName" name="account_holder_last_name" placeholder="Enter Last Name..">
                                            <label for="acHolderLastName">A/c holder's Lastname</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-floating mb-2">
                                            <input type="tel" class="form-control bank-field" id="account_holder_phn_no" name="account_holder_phn_no" placeholder="Enter Phn..">
                                            <label for="account_holder_phn_no">A/c holder's Phn no</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-floating mb-2">
                                            <textarea class="form-control bank-field" rows="4" id="account_holder_address" name="account_holder_address" placeholder="Enter the Address..">{{bank.account_holder_address}}</textarea>
                                            <label for="account_holder_address">A/c holder's Address</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control bank-field" id="bank_name" name="bank_name" placeholder="Enter Bank Name">
                                            <label for="bank_name">Bank Name</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control bank-field" id="branch_name" name="branch_name" placeholder="Enter Branch Name">
                                            <label for="branch_name">Branch Name</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control bank-field" id="ifsc" name="ifsc" placeholder="Enter IFSC code">
                                            <label for="ifsc">IFSC code</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-floating mb-2">
                                            <input type="number" class="form-control bank-field" id="accno" name="accno" placeholder="Enter Account number">
                                            <label for="accno">A/c number</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control bank-field" id="upi" name="upi" placeholder="Enter UPI id">
                                            <label for="upi">UPI id</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer d-flex justify-content-between">
                        <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Reset & Close</button>
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!---------------------- All Institution Table Details -------------------->
    <div class="row">
        <div class="col-12 ">
            <h1 class="mb-4"><strong>All Project Details</strong></h1>
            <div class="card h-100 data-card">
                <div class="card-header text-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                         Add new Project +
                    </button>
                </div>
                <div class="card-body table-responsive pb-0">
                    <table class="table table-hover my-0">
                        <thead class="table-dark">
                        <tr>
                            <th>Project Title</th>
                            <th>Beneficiary</th>
                            <th>Target</th>
                            <th>Tile Value</th>
                            <th>A/c holder</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in prj %}
                        <tr>
                            <td>{{p.title}}</td>
                            <td>{{p.beneficiary.first_name}} {{p.beneficiary.last_name}}</td>
                            <td>{{p.funding_goal}}</td>
                            <td>{{p.tile_value}}</td>
                            <td>{{p.bank_details.account_holder_first_name}} {{p.bank_details.account_holder_last_name}}</td>
                            <td>{{p.created_at}}</td>
                            <td>{{p.closing_date}}</td>
                            <td>
                                <a class="" href="/administrator/single-project/{{p.id}}/">
                                  <i class="align-middle" data-feather="eye"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const dropdown = document.getElementById('myDropdown');
            const bankFields = document.querySelectorAll('.bank-field');
            const bankLabels = document.querySelectorAll('.bank-label');

            function toggleFields() {
                const isDefault = dropdown.value === 'default';
                bankFields.forEach(field => {
                    field.readOnly  = isDefault;
                    if (isDefault) {
                        if (field.name === 'account_holder_first_name') {
                            field.value = '{{admin.default_bank.account_holder_first_name}}';
                        } else if (field.name === 'account_holder_last_name') {
                            field.value = '{{admin.default_bank.account_holder_last_name}}';
                        } else if (field.name === 'account_holder_phn_no') {
                            field.value = '{{admin.default_bank.account_holder_phn_no}}';
                        } else if (field.name === 'account_holder_address') {
                            field.value = '{{admin.default_bank.account_holder_address}}';
                        } else if (field.name === 'bank_name') {
                            field.value = '{{admin.default_bank.bank_name}}';
                        } else if (field.name === 'branch_name') {
                            field.value = '{{admin.default_bank.branch_name}}';
                        } else if (field.name === 'ifsc') {
                            field.value = '{{admin.default_bank.ifsc_code}}';
                        } else if (field.name === 'accno') {
                            field.value = '{{admin.default_bank.account_no}}';
                        } else if (field.name === 'upi') {
                            field.value = '{{admin.default_bank.upi_id}}';
                        }
                    } else {
                        field.value = '';
                    }
                });
                bankLabels.forEach(label => {
                    label.classList.toggle('disabled-label', isDefault);
                });
            }
            toggleFields();
            dropdown.addEventListener('change', toggleFields);

        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const modalDialog = document.querySelector('.modal-dialog');
            const modal = document.getElementById('exampleModal');

            if (modalDialog && modal) {
                function toggleFullscreenClass() {
                    // Check if the screen width is greater than or equal to 992px (Bootstrap's 'lg' breakpoint)
                    if (window.innerWidth >= 992) {
                        modalDialog.classList.add('modal-fullscreen');
                    } else {
                        modalDialog.classList.remove('modal-fullscreen');
                    }
                }

                // Run on page load
                toggleFullscreenClass();

                // Run whenever the window is resized
                window.addEventListener('resize', toggleFullscreenClass);
            }
        });
    </script>
{% endblock %}