{% extends 'admin-dashboard.html' %}
{% block content %}

<!---------------------- Modal for Adding new Institution -------------------->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Update Default Bank Details</strong></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row p-2">
                            <div class="col-lg-6 form-floating mb-1 p-1">
                                <input type="text" class="form-control" id="acHolderFirstName" placeholder="Enter Firstname" value="{{admin.default_bank.account_holder_first_name}}" name="account_holder_first_name">
                                <label for="acHolderFirstName">A/c holder's Firstname</label>
                            </div>
                            <div class="col-lg-6 form-floating mb-1 p-1">
                                <input type="text" class="form-control" id="acHolderLastName" placeholder="Enter Lastname" value="{{admin.default_bank.account_holder_last_name}}" name="account_holder_last_name">
                                <label for="acHolderLastName">A/c holder's Lastname</label>
                            </div>
                            <div class="col-lg-12 form-floating mb-1 p-1">
                                <input type="number" class="form-control" id="acHolderPhn" placeholder="Enter Phone number" value="{{admin.default_bank.account_holder_phn_no}}" name="account_holder_phn_no">
                                <label for="acHolderPhn">A/c holder's Phone number</label>
                            </div>
                            <div class="col-lg-12 form-floating mb-1 p-1">
                                <textarea class="form-control" placeholder="Enter Address" id="acHolderAddress"  name="account_holder_address">{{admin.default_bank.account_holder_address}}</textarea>
                                <label for="acHolderAddress">Enter Address</label>
                            </div>
                            <div class="col-lg-6 form-floating mb-1 p-1">
                                <input type="text" class="form-control" id="bankName" placeholder="Enter Bank Name" value="{{admin.default_bank.bank_name}}" name="bank_name">
                                <label for="bankName">Bank name</label>
                            </div>
                            <div class="col-lg-6 form-floating mb-1 p-1">
                                <input type="text" class="form-control" id="branchName" placeholder="Enter Branch Name" value="{{admin.default_bank.branch_name}}" name="branch_name">
                                <label for="branchName">Branch name</label>
                            </div>
                            <div class="col-lg-6 form-floating mb-1 p-1">
                                <input type="text" class="form-control" id="ifscCode" placeholder="Enter IFSC code" value="{{admin.default_bank.ifsc_code}}" name="ifsc_code">
                                <label for="ifscCode">IFSC code</label>
                            </div>
                            <div class="col-lg-6 form-floating mb-1 p-1">
                                <input type="number" class="form-control" id="acNumber" placeholder="Enter A/c number" value="{{admin.default_bank.account_no}}" name="account_no">
                                <label for="acNumber">A/c number</label>
                            </div>
                            <div class="col-lg-12 form-floating mb-1 p-1">
                                <input type="text" class="form-control" id="upiId" placeholder="Enter UPI id" value="{{admin.default_bank.upi_id}}" name="upi_id">
                                <label for="upiId">UPI id</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Reset & Close</button>
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!---------------------- All Institution Table Details -------------------->
   <div class="row">
        <div class="col-12 ">
            <h1 class="mb-4"><strong>All Bank Details</strong></h1>
            <div class="card h-100 data-card">
                <div class="card-header text-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        {% if admin.default_bank == Null %}
                         Add Default Bank Account +
                        {% else %}
                         Edit Default Bank Details
                        {% endif %}
                    </button>
                </div>
                <div class="card-body table-responsive pb-0">
                    <table class="table table-hover my-0">
                        <thead class="table-dark">
                        <tr>
                            <th>A/c holder name</th>
                            <th>Phone number</th>
                            <th>Bank name</th>
                            <th>Branch name</th>
                            <th>IFSC code</th>
                            <th>A/c number</th>
                            <th>UPI id</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table-active">
                            <td>{{admin.default_bank.account_holder_first_name}} {{admin.default_bank.account_holder_last_name}}</td>
                            <td>{{admin.default_bank.account_holder_phn_no}}</td>
                            <td>{{admin.default_bank.bank_name}}</td>
                            <td>{{admin.default_bank.branch_name}}</td>
                            <td>{{admin.default_bank.ifsc_code}}</td>
                            <td>{{admin.default_bank.account_no}}</td>
                            <td>{{admin.default_bank.upi_id}}</td>
                            <td></td>
                        </tr>
                        {% for b in banks %}
                        <tr>
                            <td>{{b.account_holder_first_name}} {{b.account_holder_last_name}}</td>
                            <td>+91-{{b.account_holder_phn_no}}</td>
                            <td>{{b.bank_name}}</td>
                            <td>{{b.branch_name}}</td>
                            <td>{{b.ifsc_code}}</td>
                            <td>{{b.account_no}}</td>
                            <td>{{b.upi_id}}</td>
                            <td>
                                <a class="" href="/administrator/">
                                  <i class="align-middle" data-feather="eye"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}