{% extends 'admin-dashboard.html' %}
{% block content %}
    <h1 class="h3 mb-3">Add New Project</h1>

<!---------------------- Add new project form -------------------->
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title mb-0">Project Details</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label">Project Title</label>
                            <input type="text" class="form-control" placeholder="Enter title.. ">
                        </div>
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label">Funding Goal</label>
                            <input type="text" class="form-control" placeholder="Enter the goal.. ">
                        </div>
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label">Tile value</label>
                            <input type="text" class="form-control" placeholder="Title ">
                        </div>
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label">Project Description</label>
                            <textarea class="form-control" rows="4" placeholder="Textarea"></textarea>
                        </div>
                    </div>
                </div>

                <div class="card-header">
                    <h3 class="card-title mt-3 mb-0">Beneficiary Details</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label">First Name</label>
                            <input type="text" class="form-control" placeholder="Enter First Name.. ">
                        </div>
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control" placeholder="Enter Last Name.. ">
                        </div>
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label">Phone Number</label>
                            <input type="text" class="form-control" placeholder="Enter Phone Number.. ">
                        </div>
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label">Age</label>
                            <input type="text" class="form-control" placeholder="Enter Your Age">
                        </div>
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label">Address</label>
                            <textarea class="form-control" rows="4" placeholder="Enter your Address.."></textarea>
                        </div>
                    </div>
                </div>

                <div class="card-header">
                    <h3 class="card-title mt-3 mb-0">Bank Details</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label">Bank Type</label>
                            <select id="myDropdown" name="myDropdown" class="form-select">
                                <option value="option1" selected>Default</option>
                                <option value="option2" >Custom</option>
                            </select>
                        </div>
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label bank-label">A/c Holder First Name</label>
                            <input type="text" class="form-control bank-field" placeholder="Enter First Name.. ">
                        </div>
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label  bank-label">A/c Holder Last Name</label>
                            <input type="text" class="form-control bank-field" placeholder="Enter Last Name.. ">
                        </div>
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label  bank-label">A/c Holder Phone Number</label>
                            <input type="text" class="form-control bank-field" placeholder="Enter Phone NUmber.. ">
                        </div>
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label  bank-label">A/c Holder Address</label>
                            <textarea class="form-control bank-field" rows="4" placeholder="Enter the Address.."></textarea>
                        </div>
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label bank-label">Bank Name</label>
                            <input type="text" class="form-control bank-field" placeholder="Enter Bank Name.. ">
                        </div>
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label  bank-label">Branch Name</label>
                            <input type="text" class="form-control bank-field" placeholder="Enter Branch Name">
                        </div>
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label bank-label">IFSC Code</label>
                            <input type="text" class="form-control bank-field" placeholder="Enter IFSC Code">
                        </div>
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label bank-label">Account Number</label>
                            <input type="text" class="form-control bank-field" placeholder="Enter Account Number">
                        </div>
                        <div class="col-lg-12 mb-3 d-flex justify-content-between">
                            <label class="form-label bank-label">UPI Id</label>
                            <input type="text" class="form-control bank-field" placeholder="Enter Upi Id">
                        </div>

                        <div class="col-lg-12 mb-3">
                            <button class="btn btn-primary">Submit</button>
                        </div>

                    </div>
                </div>



                    </div>
                </div>
            </div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const dropdown = document.getElementById('myDropdown');
        const bankFields = document.querySelectorAll('.bank-field');
        const bankLabels = document.querySelectorAll('.bank-label');

        function toggleFields() {
            // Check if the selected option is 'default'
            const isDefault = dropdown.value === 'default';

            bankFields.forEach(field => {
                // Disable fields if the option is 'default'
                field.disabled = isDefault;
            });
            bankLabels.forEach(label => {
                // Add a 'disabled-label' class if the option is 'default'
                label.classList.toggle('disabled-label', isDefault);
            });
        }

        // Run the function on page load to set the initial state
        toggleFields();
        // Run the function whenever the dropdown value changes
        dropdown.addEventListener('change', toggleFields);
    });
</script>
{% endblock %}