{% extends 'admin-dashboard.html' %}
{% load static %}
{% load humanize %}
{% block content %}

    <div class="row">
        <div class="col-12">
            <h1 class="mb-3"><strong>Transaction</strong> Details</h1>
            <div class="card data-card py-3">
                <div class="card-header d-flex justify-content-end align-items-center">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="collapse" data-bs-target="#advancedFilterCollapse" aria-expanded="false" aria-controls="advancedFilterCollapse">
                         <i class="align-middle me-1" data-feather="filter"></i> Advanced Filter
                    </button>
                </div>

                <div class="collapse" id="advancedFilterCollapse">
                    <div class="card-body">
                        <form method="get" class="row g-3">
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="tracking_id" name="tracking_id" placeholder="Enter Tracking ID">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="project_title" name="project_title" placeholder="Enter Project Title">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="sender_name" name="sender_name" placeholder="Enter Buyer name">
                            </div>
                            <div class="col-md-3">
                                <select id="status_filter" name="status" class="form-select">
                                    <option value="">All Transactions</option>
                                    <option value="Unverified">Unverified Transactions</option>
                                    <option value="Verified">Verified Transactions</option>
                                    <option value="Rejected">Rejected Transactions</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="start_date" class="form-label">From Date</label>
                                <input type="date" class="form-control" id="start_date" name="start_date">
                            </div>
                            <div class="col-md-3">
                                <label for="end_date" class="form-label">To Date</label>
                                <input type="date" class="form-control" id="end_date" name="end_date">
                            </div>
                            <div class="col-md-3">
                                <label for="order_by_amount" class="form-label">Amount</label>
                                <select id="order_by_amount" name="amount_order" class="form-select">
                                    <option value="">None</option>
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="order_by_tiles" class="form-label">Bought Tiles</label>
                                <select id="order_by_tiles" name="tiles_order" class="form-select">
                                    <option value="">None</option>
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                            </div>
                            <div class="col-12 text-end mt-3">
                                <button type="submit" class="btn btn-primary me-2">
                                    <i class="align-middle me-1" data-feather="check"></i> Apply Filters
                                </button>
                                <a href="." class="btn btn-danger">
                                    <i class="align-middle me-1" data-feather="x"></i> Clear Filters
                                </a>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card-body table-responsive">
                    <table class="table table-hover my-0">
                        <thead class="table-dark">
                            <tr>
                                <th>#</th>
                                <th>Project</th>
                                <th class="d-none d-lg-table-cell">Buyer</th>
                                <th>Tracking ID</th>
                                <th class="d-none d-lg-table-cell">Transaction Time</th>
                                <th class="d-none d-md-table-cell">Qty</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for t in transaction %}
                            <tr>
                                <td>{{ forloop.counter }}</td>

                                <td>
                                    <a href="/administrator/single-project/{{ t.project.id }}/" class="text-decoration-none fw-medium">
                                        {{ t.project.title|truncatechars:30 }}
                                    </a>
                                </td>

                                <td class="d-none d-lg-table-cell">{{ t.sender.full_name|truncatechars:20 }}</td>

                                <td class="fw-bold">{{ t.tracking_id }}</td>

                                <td class="d-none d-lg-table-cell">{{ t.transaction_time|date:"P ,d M Y" }}</td>

                                <td class="d-none d-md-table-cell">{{ t.num_tiles }} Tiles</td>

                                <td class="text-nowrap fw-bold">₹{{ t.amount|floatformat:2|intcomma }}</td>
                                <td>
                                    {% if t.status == 'Verified' %}
                                        <span class="badge bg-success">Verified</span>
                                    {% elif t.status == 'Unverified' %}
                                        <span class="badge bg-warning text-dark">Unverified</span>
                                    {% elif t.status == 'Rejected' %}
                                        <span class="badge bg-danger">Rejected</span>
                                    {% endif %}
                                </td>

                                <td class=" text-nowrap">

                                    <div class="d-inline-block ms-2">
                                        <a href="/administrator/verify-transaction/{{ t.id }}/" class="btn btn-primary btn-sm" title="View Transaction Details">
                                            <i class="align-middle" data-feather="info"></i>
                                        </a>

                                        {% if t.status == 'Verified' and not admin.is_superuser %}
                                            <a href="/administrator/generate-receipt/{{ t.id }}/" class="btn btn-info btn-sm" title="Generate Receipt">
                                                <i class="align-middle" data-feather="file-plus"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="8" class="text-center p-4">
                                    <div class="alert alert-warning m-0">
                                        No transactions found matching the criteria.
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        {% if messages %}
            {% for message in messages %}
                Swal.fire({
                    title: '{{ message.tags|title }}!',
                    text: '{{ message }}',
                    icon: '{{ message.tags }}',
                    confirmButtonText: 'OK'
                });
            {% endfor %}
        {% endif %}
    </script>

{% endblock %}