{% extends 'admin-dashboard.html' %}
{% load static %}
{% block content %}

<!-------------------Modal for updating project details--------------------->
    <div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Add a new Project</strong></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form method="post" action="{% url 'admin_update_project' pid=project.id %}">
                    {% csrf_token %}
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-lg-6 px-3">
                                <h3 class="card-title my-2 text-black">Project Details</h3>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="projectTitle" placeholder="Enter the project title.. " name="title" value="{{project.title}}">
                                            <label for="projectTitle">Project Title</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="fundingGoal" placeholder="Enter the funding goal.. " name="goal" value="{{project.funding_goal}}">
                                            <label for="fundingGoal">Funding Goal</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="tileValue" placeholder="Enter tile value " name="tvalue" value="{{project.tile_value}}">
                                            <label for="tileValue">Single Tile Value</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-floating mb-2">
                                            <input type="date" class="form-control" id="closingDate" placeholder="Enter Closing Date " name="clsdate" value="{{ project.closing_date|date:'Y-m-d' }}">                                        <label for="closingDate">Closing Date</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-floating mb-2">
                                            <textarea class="form-control" id="projectDesc" style="resize:none; height:75px;" placeholder="Enter the description..." name="desc">{{project.description}}</textarea>
                                            <label for="projectDesc">Project Description</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 px-3">
                                <h3 class="card-title my-2 text-black">Beneficiary Details</h3>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="fname" placeholder="Enter Firstname" name="fname" value="{{project.beneficiary.first_name}}">
                                            <label for="fname">First Name</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-floating mb-2">
                                            <input type="text" class="form-control" id="lname" placeholder="Enter Lastname" name="lname" value="{{project.beneficiary.last_name}}">
                                            <label for="lname">Last Name</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-floating mb-2">
                                            <input type="number" class="form-control" id="age"  placeholder="Enter Age " name="age" value="{{project.beneficiary.age}}">
                                            <label for="age">Enter Age</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-floating mb-2">
                                            <input type="tel" class="form-control" id="telPhn"  placeholder="Enter Phone Number.. " name="phn" value="{{project.beneficiary.phone_number}}">
                                            <label for="telPhn">Phone Number</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-floating mb-2">
                                            <textarea class="form-control" style="resize:none; height:75px;" id="address" placeholder="Enter your Address.." name="addr">{{project.beneficiary.address}}</textarea>
                                            <label for="address">Address</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer d-flex justify-content-between">
                        <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Reset & Close</button>
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-------------------Modal for uploading images--------------------->
    <div class="modal fade" id="imgModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="imgModalLabel"><strong>Upload Image</strong></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" action="{% url 'upload_project_image' project_id=project.id %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <table class="table">
                          <tbody>
                          {% for image in project.images.all %}
                            <tr>
                                <th>
                                    <a href="{{image.project_img.url}}" target="_blank" rel="noopener noreferrer">{{image.project_img}}</a>
                                </th>
                                <td class="text-end">
                                    <a class="" href="/administrator/del_prj_img/{{image.id}}/">Delete</a>
                                </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                        <div class="my-2">
                            <input type="file" class="form-control" id="img" placeholder="Upload an image.. " name="img">
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-------------------Modal for share project--------------------->
<div class="modal fade" id="shareProjectModal" tabindex="-1" aria-labelledby="shareProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5 text-white" id="shareProjectModalLabel"><strong>Share this Project</strong></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center p-4">
                <p class="lead mb-4">You can share this project's link using these options:</p>
                <div class="input-group mb-3">
                    <input id="projectLinkInput" class="form-control" type="text" readonly>
                    <button id="copyProjectLink" class="btn btn-outline-secondary" type="button">
                        <i class="align-middle" data-feather="copy"></i>
                    </button>
                </div>
                <div class="d-flex justify-content-center flex-wrap">
                    <a href="#" id="whatsappShareProject" target="_blank" class="btn btn-success m-2">
                        <i class="align-middle" data-feather="message-circle"></i>
                        WhatsApp
                    </a>
                    <a href="#" id="facebookShareProject" target="_blank" class="btn btn-primary m-2">
                        <i class="align-middle" data-feather="thumbs-up"></i>
                        Facebook
                    </a>
                    <a href="#" id="twitterShareProject" target="_blank" class="btn btn-info m-2">
                        <i class="align-middle" data-feather="twitter"></i>
                        Twitter
                    </a>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    <div class="row g-4 mb-4">
        <div class="col-xl-8 col-lg-12 ">
            <div class="card h-100 data-card">
                <div class="row">
                    <div class="col-xl-8">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                            {% if project.images.all %}
                                {% for image in project.images.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                  <img src="{{ image.project_img.url }}" class="d-block w-100 carousel-image border" alt="Project Image {{ forloop.counter }}">
                                </div>
                                {% endfor %}
                            {% else %}
                                <div class="carousel-item active">
                                    <img src="{% static 'Dashboard/img/photos/default-baner.png' %}" class="d-block w-100 carousel-image border" alt="No image available">
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12 ">
                        <div class="row h-100 m-0">
                            <div class="col-12 card-header">
                                <h3 class="lead"><strong>{{project.title}}</strong></h3>
                            </div>
                            <div class="col-12 align-self-end">
                                <table class="table m-0">
                                    <tr>
                                        <th class="p-1">Goal</th>
                                        <td class="p-1 text-end">{{project.funding_goal}} Rs</td>
                                    </tr>
                                    <tr>
                                        <th class="p-1">Current</th>
                                        <td class="p-1 text-end">{{project.current_amount}} Rs</td>
                                    </tr>
                                    <tr>
                                        <th class="p-1">Tile value</th>
                                        <td class="p-1 text-end">{{project.tile_value}} Rs</td>
                                    </tr>
                                    <tr>
                                        <th class="p-1">Available tiles</th>
                                        <td class="p-1 text-end">{{available_tiles_count}}</td>
                                    </tr>
                                    <tr>
                                        <th class="p-1">Status</th>
                                        {% if project.current_amount == project.funding_goal %}
                                        <td class="p-1">
                                            <a class="btn btn-sm btn-success" style="width:70px;">
                                                Success
                                            </a>
                                        </td>
                                        {% elif project.validity == False %}
                                        <td class="p-1">
                                            <a class="btn btn-sm btn-danger" style="width:70px;">
                                                Failed
                                            </a>
                                        </td>
                                        {% else %}
                                        <td class="p-1">
                                            <form id="status-form-{{ project.id }}" action="/administrator/change-project-status/{{ project.id }}/" method="post" style="display: inline;">
                                                {% csrf_token %}
                                                <div class="form-check form-switch d-flex align-items-center">
                                                    {% if not admin.is_superuser %}
                                                    <input class="form-check-input status-switch" type="checkbox" role="switch" id="switchCheck-{{ project.id }}" {% if project.table_status %}checked{% endif %}>
                                                    {% endif %}
                                                    <label class="form-check-label ms-2" for="switchCheck-{{ project.id }}">
                                                        {% if project.table_status %}
                                                            <a class="btn btn-sm btn-warning text-black" style="width:70px;">Active</a>
                                                        {% else %}
                                                            <a class="btn btn-sm btn-secondary" style="width:70px;">closed</a>
                                                        {% endif %}
                                                    </label>
                                                </div>
                                            </form>
                                        </td>
                                        {% endif %}
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pb-0">
                    <p class="card-text lead">{{project.description}}</p>
                    <p class="card-text">Created on: {{project.created_at}}<br> Close by: {{project.closing_date}} </p>
                    <div class="text-end">
                        {% if not admin.is_superuser %}
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#projectModal">
                            <i class="align-middle" data-feather="edit"></i>
                            <span class="align-middle">Edit</span>
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#imgModal" >
                            <i class="align-middle" data-feather="image"></i>
                            <span class="align-middle">Upload</span>
                        </button>
                        <a href="/administrator/delete-project/{{project.id}}/" class="btn btn-danger">
                            <i class="align-middle" data-feather="trash"></i>
                            <span class="align-middle">Delete</span>
                        </a>
                        {% endif %}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#shareProjectModal">
                            <i class="align-middle" data-feather="share"></i>
                            <span class="align-middle">Share</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-12">
            <div class="card h-100 data-card">
                <div class="card-header">
                    <h3 class="lead"><strong>Beneficiary Details</strong></h3>
                </div>
                <div class="card-body row">
                    <div class="col-sm-6 col-xl-12">
                        <form id="uploadForm" method="post" action="/administrator/bene_img/{{project.id}}/" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" id="imgUpload" name="bene_img" style="display: none;">

                            <label for="imgUpload">
                                <img
                                    {% if project.beneficiary.profile_pic %}
                                        src="{{ project.beneficiary.profile_pic.url }}"
                                    {% else %}
                                        src="{% static 'Dashboard/img/avatars/default-avatar.jpg' %}"
                                    {% endif %}
                                    alt="Click to upload an image"
                                    style="cursor: pointer; width: 128px; height: 128px; display: block;"
                                    class="border rounded-circle">
                            </label>
                        </form>
                    </div>
                    <div class="col-sm-6 col-xl-12">
                        <h5 class="mb-3"><strong>{{project.beneficiary.first_name}} {{project.beneficiary.last_name}}</strong></h5>
                        <table class="table">
                            <tr>
                                <th class="py-1 px-0">Age</th>
                                <td class="py-1 px-0 text-end">{{project.beneficiary.age}}-years old</td>
                            </tr>
                            <tr>
                                <th class="py-1 px-0">Phone number</th>
                                <td class="py-1 px-0 text-end">+91-{{project.beneficiary.phone_number}}</td>
                            </tr>
                            <tr>
                                <th class="py-1 px-0">Address</th>
                                <td class="py-1 px-0 text-end">{{project.beneficiary.address}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-4">
        <div class="col-12">
            <div class="card data-card">
                <div class="card-body">
                    <div class="pb-3 d-flex justify-content-end gap-3">
                        <div class="d-flex align-items-center gap-1">
                            <div class="booking-tile available">
                                <span class="tile-number"></span>
                            </div>
                            <span>Available Tile</span>
                        </div>
                        <div class="d-flex align-items-center gap-1">
                            <div class="booking-tile processing">
                                <span class="tile-number"></span>
                            </div>
                            <span>Processing Tile</span>
                        </div>
                        <div class="d-flex align-items-center gap-1">
                            <div class="booking-tile sold">
                                <span class="tile-number"></span>
                            </div>
                            <span>Sold Tile</span>
                        </div>
                    </div>
                    <div class="container-fluid bg-light border py-1 overflow-auto" style="height:250px;">
                        <div class="tile-grid">
                            {% for t in t_range %}
                            <div id="T{{t}}" class="booking-tile m-1
                                {% if t in sold_tiles_set %}
                                    sold
                                {% elif t in processing_tiles_set %}
                                    processing
                                {% else %}
                                    available
                                {% endif %}">
                                <span class="tile-number">{{t}}</span>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card h-100 data-card">
                <div class="card-header">
                    <h2><strong>Transactions</strong></h2>
                </div>
                <div class="card-body table-responsive pb-0">
                    <table class="table table-hover my-0">
                        <thead class="table-dark">
                        <tr>
                            <th>Sender</th>
                            <th>No of Tiles</th>
                            <th>Amount</th>
                            <th>Time</th>
                            <th>status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for t in transaction %}
                        <tr>
                            <td>{{t.sender.first_name}} {{t.sender.last_name}}</td>
                            <td>{{ t.num_tiles }} [{{t.tiles_bought.tiles}}]</td>
                            <td>{{t.amount}}</td>
                            <td>{{t.transaction_time}}</td>
                            <td class="{% if t.status == 'Verified'%}
                                        text-success
                                    {% elif t.status == 'Rejected' %}
                                        text-danger
                                    {% elif t.status == 'Unverified' %}
                                        text-dark-subtle
                                    {% endif %}">
                                <strong>{{t.status}}</strong>
                            </td>
                            <td>
                                <a class="" href="/administrator/verify-transaction/{{t.id}}/">
                                  <i class="align-middle" data-feather="eye"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        {% if messages %}
            {% for message in messages %}
                Swal.fire({
                    title: '{{ message.tags|title }}!',
                    text: '{{ message }}',
                    icon: '{{ message.tags }}',
                    confirmButtonText: 'OK'
                });
            {% endfor %}
        {% endif %}
    </script>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const shareModal = document.getElementById('shareProjectModal');
        const customUrl = `${window.location.protocol}//${window.location.host}/user/{{project.created_by.institution.id}}/single-project/{{project.id}}/`;

        // This is a multiline message using a template literal
        const shareText = `Check out this amazing project: {{ project.title }}!
From {{ project.created_by.institution.institution_name }}.
You can contribute to this project and help them reach their goal.`;

        // Function to copy the URL to the clipboard
        const copyToClipboard = () => {
            const inputField = document.getElementById('projectLinkInput');
            if (inputField) {
                inputField.select();
                inputField.setSelectionRange(0, 99999);
                navigator.clipboard.writeText(inputField.value).then(() => {
                    alert('Project link copied to clipboard!');
                }).catch(err => {
                    console.error('Failed to copy text:', err);
                });
            }
        };

        // Event listener for when the modal is shown
        if (shareModal) {
            shareModal.addEventListener('show.bs.modal', event => {
                const whatsappShare = document.getElementById('whatsappShareProject');
                const twitterShare = document.getElementById('twitterShareProject');
                const facebookShare = document.getElementById('facebookShareProject');
                const projectLinkInput = document.getElementById('projectLinkInput');

                if (projectLinkInput) {
                    projectLinkInput.value = customUrl;
                }

                if (whatsappShare) {
                    // Use '%0A' to add a newline before the URL to ensure it's clickable
                    whatsappShare.href = `https://wa.me/?text=${encodeURIComponent(shareText)}%0A${encodeURIComponent(customUrl)}`;
                }
                if (twitterShare) {
                    twitterShare.href = `https://twitter.com/intent/tweet?text=${encodeURIComponent(shareText)}&url=${encodeURIComponent(customUrl)}`;
                }
                if (facebookShare) {
                    facebookShare.href = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(customUrl)}`;
                }
            });
        }

        // Event listener for the Copy Link button
        const copyProjectLink = document.getElementById('copyProjectLink');
        if (copyProjectLink) {
            copyProjectLink.addEventListener('click', copyToClipboard);
        }
    });
</script>

<script>
    const fileInput = document.getElementById('imgUpload');
    fileInput.addEventListener('change', function() {
        if (this.files && this.files.length > 0) {
            this.form.submit();
        }
    });
</script>
<script>
    // This script will automatically submit the form when the switch is toggled.
    document.addEventListener('DOMContentLoaded', () => {
        // Find all switches on the page
        const switches = document.querySelectorAll('.status-switch');

        switches.forEach(switchInput => {
            switchInput.addEventListener('change', function() {
                // Find the parent form and submit it
                this.form.submit();
            });
        });
    });
</script>
{% endblock %}