{% extends 'admin-dashboard.html' %}
{% load static %}
{% block content %}
{% load humanize %}

<!-------------------Modal for updating project details--------------------->
<div class="modal fade" id="projectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Add a new Project</strong></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="post" action="{% url 'admin_update_project' pid=project.id %}">
                {% csrf_token %}
                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-6 px-3">
                            <h3 class="card-title my-2 text-black">Project Details</h3>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control" id="projectTitle" placeholder="Enter the project title.. " name="title" value="{{project.title}}">
                                        <label for="projectTitle">Project Title</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control" id="fundingGoal" placeholder="Enter the funding goal.. " name="goal" value="{{project.funding_goal}}">
                                        <label for="fundingGoal">Funding Goal</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control" id="tileValue" placeholder="Enter tile value " name="tvalue" value="{{project.tile_value}}">
                                        <label for="tileValue">Single Tile Value</label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-floating mb-2">
                                        <input type="date" class="form-control" id="closingDate" placeholder="Enter Closing Date " name="clsdate" value="{{ project.closing_date|date:'Y-m-d' }}">                                        <label for="closingDate">Closing Date</label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-floating mb-2">
                                        <textarea class="form-control" id="projectDesc" style="resize:none; height:75px;" placeholder="Enter the description..." name="desc">{{project.description}}</textarea>
                                        <label for="projectDesc">Project Description</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 px-3">
                            <h3 class="card-title my-2 text-black">Beneficiary Details</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control" id="fname" placeholder="Enter Firstname" name="fname" value="{{project.beneficiary.first_name}}">
                                        <label for="fname">First Name</label>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-floating mb-2">
                                        <input type="text" class="form-control" id="lname" placeholder="Enter Lastname" name="lname" value="{{project.beneficiary.last_name}}">
                                        <label for="lname">Last Name</label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-floating mb-2">
                                        <input type="number" class="form-control" id="age"  placeholder="Enter Age " name="age" value="{{project.beneficiary.age}}">
                                        <label for="age">Enter Age</label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-floating mb-2">
                                        <input type="tel" class="form-control" id="telPhn"  placeholder="Enter Phone Number.. " name="phn" value="{{project.beneficiary.phone_number}}">
                                        <label for="telPhn">Phone Number</label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-floating mb-2">
                                        <textarea class="form-control" style="resize:none; height:75px;" id="address" placeholder="Enter your Address.." name="addr">{{project.beneficiary.address}}</textarea>
                                        <label for="address">Address</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer d-flex justify-content-between">
                    <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Reset & Close</button>
                    <button type="submit" class="btn btn-success">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-------------------Modal for uploading images--------------------->
<div class="modal fade" id="imgModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="imgModalLabel"><strong>Upload Image</strong></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'upload_project_image' project_id=project.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <table class="table">
                      <tbody>
                      {% for image in project.images.all %}
                        <tr>
                            <th>
                                <a href="{{image.project_img.url}}" target="_blank" rel="noopener noreferrer">{{image.project_img}}</a>
                            </th>
                            <td class="text-end">
                                <a class="" href="/administrator/del_prj_img/{{image.id}}/">Delete</a>
                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    <div class="my-2">
                        <input type="file" class="form-control" id="img" placeholder="Upload an image.. " name="img">
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-------------------Modal for share project--------------------->
<div class="modal fade" id="shareProjectModal" tabindex="-1" aria-labelledby="shareProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5 text-white" id="shareProjectModalLabel"><strong>Share this Project</strong></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center p-4">
                <p class="lead mb-4">You can share this project's link using these options:</p>
                <div class="input-group mb-3">
                    <input id="projectLinkInput" class="form-control" type="text" readonly>
                    <button id="copyProjectLink" class="btn btn-outline-secondary" type="button">
                        <i class="align-middle" data-feather="copy"></i>
                    </button>
                </div>
                <div class="d-flex justify-content-center flex-wrap">
                    <a href="#" id="whatsappShareProject" target="_blank" class="btn btn-success m-2">
                        <i class="align-middle" data-feather="message-circle"></i>
                        WhatsApp
                    </a>
                    <a href="#" id="facebookShareProject" target="_blank" class="btn btn-primary m-2">
                        <i class="align-middle" data-feather="thumbs-up"></i>
                        Facebook
                    </a>
                    <a href="#" id="twitterShareProject" target="_blank" class="btn btn-info m-2">
                        <i class="align-middle" data-feather="twitter"></i>
                        Twitter
                    </a>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row g-4 ">
    <div class="col-xl-9 col-lg-12 ">
        <div class="card data-card">
            <div class="row">
                <div class="col-xl-8">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                        {% if project.images.all %}
                            {% for image in project.images.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                              <img src="{{ image.project_img.url }}" class="d-block w-100 carousel-image border" alt="Project Image {{ forloop.counter }}">
                            </div>
                            {% endfor %}
                        {% else %}
                            <div class="carousel-item active">
                                <img src="{% static 'Dashboard/img/photos/default-banner.jpg' %}" class="d-block w-100 carousel-image border" alt="No image available">
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12 ">
                    <div class="row h-100 m-0">
                        <div class="col-12 card-header px-0">
                            <h3 class="lead"><strong>{{project.title}}</strong></h3>
                        </div>
                        <ul class="list-group list-group-flush mb-auto">
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <strong>Goal</strong>
                                <span>₹{{ project.funding_goal|floatformat:2|intcomma }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <strong>Current</strong>
                                <span>₹{{ project.current_amount|floatformat:2|intcomma }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <strong>Tile value</strong>
                                <span>₹{{ project.tile_value|floatformat:2|intcomma }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <strong>Available tiles</strong>
                                <span>{{ available_tiles_count }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                <strong>Status</strong>
                                {% if project.current_amount == project.funding_goal %}
                                    <span class="p-1 btn btn-sm btn-success" style="width:70px;">
                                            Success
                                    </span>
                                    {% elif project.validity == False %}
                                    <span class="p-1 btn btn-sm btn-danger" style="width:70px;">
                                            Failed
                                    </span>
                                    {% else %}
                                    <form id="status-form-{{ project.id }}" action="/administrator/change-project-status/{{ project.id }}/" method="post" class="d-flex align-items-center">
                                        {% csrf_token %}
                                         {% if not admin.is_superuser %}
                                        <div class="form-check form-switch ">
                                            <input class="form-check-input status-switch " type="checkbox" role="switch" id="switchCheck-{{ project.id }}" {% if project.table_status %}checked{% endif %}>
                                        </div>
                                        {% endif %}
                                        {% if project.table_status %}
                                            <span class="btn btn-sm btn-warning text-black">Active</span>
                                        {% else %}
                                            <span class="btn btn-sm btn-secondary">Closed</span>
                                        {% endif %}
                                    </form>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <p class=" mb-4">{{ project.description }}</p>
                <div>
                    <div class="progress" role="progressbar" aria-label="Project Progress" aria-valuenow="{{ project.progress }}" aria-valuemin="0" aria-valuemax="100" style="height: 8px;">
                        <div class="progress-bar bg-success" style="width: {{ project.progress }}%;"></div>
                    </div>
                    <div class="d-flex justify-content-end mt-1">
                        <strong class="text-success">{{ project.progress }}%</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-12 mb-3 mb-lg-0">
                        <h5 class="mb-2"><strong>Project Timeline</strong></h5>
                        <ul class="list-unstyled">
                            <li>
                                <i class="align-middle me-2 text-muted" data-feather="calendar"></i>
                                <strong>Created on:</strong> {{ project.created_at|date:"d M, Y P" }}
                            </li>
                            <li>
                                <i class="align-middle me-2 text-muted" data-feather="clock"></i>
                                <strong>Closes by:</strong> {{ project.closing_date|date:"d M, Y P"  }}
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-6 col-12 d-flex flex-wrap justify-content-end align-items-center gap-2">
                        {% if not admin.is_superuser %}
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#projectModal">
                            <i class="align-middle" data-feather="edit"></i> Edit
                        </button>
                        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#imgModal">
                            <i class="align-middle" data-feather="image"></i> Upload
                        </button>
                        <a href="/administrator/delete-project/{{project.id}}/" class="btn btn-outline-danger">
                            <i class="align-middle" data-feather="trash"></i> Delete
                        </a>
                        {% endif %}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#shareProjectModal">
                            <i class="align-middle" data-feather="share"></i> Share
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-12">
        <div class="card data-card">
            <div class="card-header">
                <h3 class="lead"><strong>Beneficiary Details</strong></h3>
            </div>
            <div class="card-body text-center">
                <form id="uploadForm" method="post" action="/administrator/bene_img/{{project.id}}/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" id="imgUpload" name="bene_img" class="d-none" onchange="this.form.submit();">
                    <label for="imgUpload" class="d-inline-block position-relative">
                        <img
                            {% if project.beneficiary.profile_pic %}
                                src="{{ project.beneficiary.profile_pic.url }}"
                            {% else %}
                                src="{% static 'Dashboard/img/avatars/default-avatar.jpg' %}"
                            {% endif %}
                            alt="Click to upload an image"
                            class="rounded-circle border border-primary img-fluid"
                            style="width: 128px; height: 128px; object-fit: cover; cursor: pointer;">
                        <span class="position-absolute bottom-0 end-0 p-1 bg-primary text-white rounded-circle">
                            <i data-feather="camera"></i>
                        </span>
                    </label>
                </form>

                <div class="mt-4">
                    <h5 class="mb-1"><strong>{{project.beneficiary.first_name}} {{project.beneficiary.last_name}}</strong></h5>
                    <small class="text-muted">{{ project.beneficiary.age }}-years old</small>
                    <hr class="my-3">
                    <ul class="list-unstyled text-start">
                        <li class="d-flex justify-content-between py-1">
                            <strong class="text-muted">Phone number:</strong>
                            <span>+91-{{project.beneficiary.phone_number}}</span>
                        </li>
                        <li class="d-flex justify-content-between py-1">
                            <strong class="text-muted">Address:</strong>
                            <span class="text-end">{{project.beneficiary.address}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card data-card">
    <div class="card-header d-flex justify-content-end gap-3 align-items-center">
        <span class="badge bg-success">Available Tile</span>
        <span class="badge bg-primary">Processing Tile</span>
        <span class="badge bg-secondary">Sold Tile</span>
    </div>
    <div class="card-body">
        <div class="container-fluid border border-2 py-3 rounded overflow-auto" style="height:250px;">
            <div class="d-flex flex-wrap gap-2">
                {% for t in total_tiles_count|ljust:total_tiles_count %}
                    <div id="T{{ forloop.counter }}" class="p-2 border rounded text-white text-center fw-bold
                         {% if forloop.counter in sold_tiles_set %} bg-secondary
                         {% elif forloop.counter in processing_tiles_set %} bg-primary
                         {% else %} bg-success {% endif %}"
                         style="width: 50px; height: 30px; display: flex; align-items: center; justify-content: center; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
                        <span>{{ forloop.counter }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="card data-card ">
    <div class="card-header">
        <h2><strong>Transactions</strong></h2>
    </div>
    <div class="card-body table-responsive ">
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th>Sl no</th>
                <th>Sender</th>
                <th>No of Tiles</th>
                <th>Amount</th>
                <th>Time</th>
                <th class="text-center">Status</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for t in transactions %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{t.sender.first_name}} {{t.sender.last_name}}</td>
                <td>{{ t.num_tiles }} [{{t.tiles_bought.tiles}}]</td>
                <td>₹{{t.amount|floatformat:2|intcomma }}</td>
                <td>{{t.transaction_time|date:"d M, Y P"}}</td>
                <td class="{% if t.status == 'Verified' %}text-success
                            {% elif t.status == 'Rejected' %}text-danger
                            {% else %}text-secondary{% endif %}">
                    <strong>{{ t.status }}</strong>
                </td>
                <td class="text-center">
                    <a href="/administrator/verify-transaction/{{t.id}}/" class="btn btn-info btn-sm">
                        <i class="align-middle" data-feather="info"></i> View
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    {% if messages %}
        {% for message in messages %}
            Swal.fire({
                title: '{{ message.tags|title }}!',
                text: '{{ message }}',
                icon: '{{ message.tags }}',
                confirmButtonText: 'OK'
            });
        {% endfor %}
    {% endif %}
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const shareModal = document.getElementById('shareProjectModal');
        const customUrl = `${window.location.protocol}//${window.location.host}/user/{{project.created_by.institution.id}}/single-project/{{project.id}}/`;

        // This is a multiline message using a template literal
        const shareText = `Check out this amazing project: {{ project.title }}!
From {{ project.created_by.institution.institution_name }}.
You can contribute to this project and help them reach their goal.`;

        // Function to copy the URL to the clipboard
        const copyToClipboard = () => {
            const inputField = document.getElementById('projectLinkInput');
            if (inputField) {
                inputField.select();
                inputField.setSelectionRange(0, 99999);
                navigator.clipboard.writeText(inputField.value).then(() => {
                    alert('Project link copied to clipboard!');
                }).catch(err => {
                    console.error('Failed to copy text:', err);
                });
            }
        };

        // Event listener for when the modal is shown
        if (shareModal) {
            shareModal.addEventListener('show.bs.modal', event => {
                const whatsappShare = document.getElementById('whatsappShareProject');
                const twitterShare = document.getElementById('twitterShareProject');
                const facebookShare = document.getElementById('facebookShareProject');
                const projectLinkInput = document.getElementById('projectLinkInput');

                if (projectLinkInput) {
                    projectLinkInput.value = customUrl;
                }

                if (whatsappShare) {
                    // Use '%0A' to add a newline before the URL to ensure it's clickable
                    whatsappShare.href = `https://wa.me/?text=${encodeURIComponent(shareText)}%0A${encodeURIComponent(customUrl)}`;
                }
                if (twitterShare) {
                    twitterShare.href = `https://twitter.com/intent/tweet?text=${encodeURIComponent(shareText)}&url=${encodeURIComponent(customUrl)}`;
                }
                if (facebookShare) {
                    facebookShare.href = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(customUrl)}`;
                }
            });
        }

        // Event listener for the Copy Link button
        const copyProjectLink = document.getElementById('copyProjectLink');
        if (copyProjectLink) {
            copyProjectLink.addEventListener('click', copyToClipboard);
        }
    });
</script>

<script>
    const fileInput = document.getElementById('imgUpload');
    fileInput.addEventListener('change', function() {
        if (this.files && this.files.length > 0) {
            this.form.submit();
        }
    });
</script>
<script>
    // This script will automatically submit the form when the switch is toggled.
    document.addEventListener('DOMContentLoaded', () => {
        // Find all switches on the page
        const switches = document.querySelectorAll('.status-switch');

        switches.forEach(switchInput => {
            switchInput.addEventListener('change', function() {
                // Find the parent form and submit it
                this.form.submit();
            });
        });
    });
</script>
{% endblock %}