{% extends 'admin-dashboard.html' %}
{% block content %}

<!---------------------- All Institution Table Details -------------------->
    <div class="row">
        <div class="col-12 ">
            <h1 class="mb-4"><strong>{{admin.username}}</strong></h1>
            <div class="card data-card">
                <div class="card-header ">
                    <h1 class="mb-3">{{admin.first_name}} {{admin.last_name}}</h1>
                </div>
                <div class="card-body table-responsive pb-0">

                    <div class="row mb-2">
                        <div class="col-6 mb-3">
                            <h3 class="text-muted"><strong>User Details</strong></h3>
                            <table class="table text-start">
                                <tr>
                                    <td>Email Address</td>
                                    <td>{{Customuser.email}}</td>
                                </tr>
                                <tr>
                                    <td>Contact No</td>
                                    <td>{{Customuser.phn_no}}</td>
                                </tr>
                                <tr>
                                    <td>Instution Name</td>
                                    <td>{{Customuser.institution}}</td>
                                </tr>
                                <tr>
                                    <td>Default Bank</td>
                                    <td>{{Customuser.default_bank}}</td>
                                </tr>
                                <tr>
                                    <td>Profile Picture</td>
                                    <td>{{Customuser.profile_pic}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6 mb-3">
                            <h3 class="text-muted"><strong>Institution Details</strong></h3>
                            <table class="table text-start mb-4">
                                <tr>
                                    <td>Institution Name</td>
                                    <td>{{Institution.institution_name}}</td>
                                </tr>
                                <tr>
                                    <td>Institution Address</td>
                                    <td>{{Institution.address}}</td>
                                </tr>
                                <tr>
                                    <td>Phone No</td>
                                    <td>{{Institution.phn}}</td>
                                </tr>
                                <tr>
                                    <td>Email Address</td>
                                    <td>{{Institution.email}}</td>
                                </tr>
                                <tr>
                                    <td>Institution Image</td>
                                    <td>{{Institution.institution_img}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}