{% extends 'admin-dashboard.html' %}
{% block content %}
    <h1 class="h3 mb-3"><strong>All Institutional Details</strong></h1>


<!---------------------- Modal for Updating Default Bank Details -------------------->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Update Default Bank Details</strong></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row p-2">
                            {% for def in banks %}
                            {% if def.account_type == "default" %}
                            <div class="col-lg-6 form-floating mb-1 p-1">
                                <input type="text" class="form-control" id="acHolderFirstName" placeholder="Enter Firstname" value="{{def.account_holder_first_name}}" name="account_holder_first_name">
                                <label for="acHolderFirstName">A/c holder's Firstname</label>
                            </div>
                            <div class="col-lg-6 form-floating mb-1 p-1">
                                <input type="text" class="form-control" id="acHolderLastName" placeholder="Enter Lastname" value="{{def.account_holder_last_name}}" name="account_holder_last_name">
                                <label for="acHolderLastName">A/c holder's Lastname</label>
                            </div>
                            <div class="col-lg-12 form-floating mb-1 p-1">
                                <input type="number" class="form-control" id="acHolderPhn" placeholder="Enter Phone number" value="{{def.account_holder_phn_no}}" name="account_holder_phn_no">
                                <label for="acHolderPhn">A/c holder's Phone number</label>
                            </div>
                            <div class="col-lg-12 form-floating mb-1 p-1">
                                <textarea class="form-control" placeholder="Enter Address" id="acHolderAddress"  name="account_holder_address">{{def.account_holder_address}}</textarea>
                                <label for="acHolderAddress">Enter Address</label>
                            </div>
                            <div class="col-lg-6 form-floating mb-1 p-1">
                                <input type="text" class="form-control" id="bankName" placeholder="Enter Bank Name" value="{{def.bank_name}}" name="bank_name">
                                <label for="bankName">Bank name</label>
                            </div>
                            <div class="col-lg-6 form-floating mb-1 p-1">
                                <input type="text" class="form-control" id="branchName" placeholder="Enter Branch Name" value="{{def.branch_name}}" name="branch_name">
                                <label for="branchName">Branch name</label>
                            </div>
                            <div class="col-lg-6 form-floating mb-1 p-1">
                                <input type="text" class="form-control" id="ifscCode" placeholder="Enter IFSC code" value="{{def.ifsc_code}}" name="ifsc_code">
                                <label for="ifscCode">IFSC code</label>
                            </div>
                            <div class="col-lg-6 form-floating mb-1 p-1">
                                <input type="number" class="form-control" id="acNumber" placeholder="Enter A/c number" value="{{def.account_no}}" name="account_no">
                                <label for="acNumber">A/c number</label>
                            </div>
                            <div class="col-lg-12 form-floating mb-1 p-1">
                                <input type="text" class="form-control" id="upiId" placeholder="Enter UPI id" value="{{def.upi_id}}" name="upi_id">
                                <label for="upiId">UPI id</label>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Reset & Close</button>
                        <button type="submit" class="btn btn-success">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!---------------------- All Institution Table Details -------------------->
    <div class="row">
        <div class="col-12 col-lg-12 col-xxl-12 d-flex">
            <div class="card flex-fill">
                <div class="card-header d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Edit Institutional Details
                    </button>
                </div>
                <table class="table table-hover my-0">
                    <thead>
                        <tr>
                            <th>Institution Name</th>
                            <th class="d-none d-md-table-cell">Email Address</th>
                            <th class="d-none d-xl-table-cell">Contact Number</th>
                            <th class="d-none d-xl-table-cell">Institution Address</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in institutions %}
                        <tr>
                            <td class="d-none d-xl-table-cell">{{i.institution_name}}</td>
                            <td class="d-none d-xl-table-cell">{{i.institution_address}}</td>
                            <td class="d-none d-xl-table-cell">+91-{{i.contact_no}}</td>
                            <td class="d-none d-xl-table-cell">{{i.email_address}}</td>
                            <td class="d-none d-xl-table-cell">
                                <a class="" href="/administrator/">
                                  <i class="align-middle" data-feather="eye"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}