{% extends 'admin-dashboard.html' %}
{% block content %}

<!---------------------- Modal for Adding new Admin -------------------->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Add a new Admin</strong></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="row p-2">
                            <div class="col-lg-6 form-floating mb-1 p-1">
                                <input type="text" class="form-control" id="first_name" placeholder="First name" name="first_name" required>
                                <label for="first_name">First name</label>
                            </div>
                            <div class="col-lg-6 form-floating mb-1 p-1">
                                <input type="text" class="form-control" id="last_name" placeholder="Last name" name="last_name" required>
                                <label for="last_name">Last name</label>
                            </div>
                            <div class="col-lg-12 form-floating mb-1 p-1">
                                <input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" required>
                                <label for="username">Email</label>
                            </div>
                            <div class="col-lg-12 form-floating mb-1 p-1">
                                <select class="form-control" aria-label="Default select example" id="inst_name" name="inst_name" required>
                                    <option selected disabled>Select the Affiliated Institution</option>
                                    {% for i in inst %}
                                    <option value="{{i.id}}">{{i.institution_name}}</option>
                                    {% endfor %}
                                </select>
                                <label for="inst_name">Institution name</label>
                            </div>
                            <div class="col-lg-12 form-floating mb-1 p-1">
                                <input type="tel" class="form-control" id="phn_no" placeholder="Enter Contact number" name="phn_no" required>
                                <label for="phn_no">Contact number</label>
                            </div>
                            <div class="col-lg-12 form-floating mb-1 p-1">
                                <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username" required>
                                <label for="username">Username</label>
                            </div>
                            <div class="col-lg-6 form-floating mb-1 p-1">
                                <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" required>
                                <label for="password">Password</label>
                            </div>
                            <div class="col-lg-6 form-floating mb-1 p-1">
                                <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" name="confirm_password" required>
                                <label for="confirm_password">Confirm Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <button type="reset" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" id="saveButton" disabled>Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!---------------------- All Admin Table Details -------------------->
    <div class="row">
        <div class="col-12 ">
            <h1 class="mb-4"><strong>All Administrators</strong></h1>
            <div class="card h-100 data-card">
                <div class="card-header text-end">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Register a new Admin +
                    </button>
                </div>
                <div class="card-body table-responsive pb-0">
                    <table class="table table-hover my-0">
                        <thead class="table-dark">
                        <tr>
                            <th>Full name</th>
                            <th>Username</th>
                            <th>Email Address</th>
                            <th>Institution</th>
                            <th>Contact Number</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in administrators %}
                        <tr  {% if i.is_superuser == True %}class="table-active"{% endif %} >
                            <td>{{i.first_name}} {{i.last_name}}</td>
                            <td>{{i.username}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.institution.institution_name}}</td>
                            <td>{{i.phn_no}}</td>
                            <td>
                                <a class="" href="/administrator/">
                                    <i class="align-middle" data-feather="eye"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const passwordInput = document.getElementById('password');
            const confirmPasswordInput = document.getElementById('confirm_password');
            const saveButton = document.getElementById('saveButton');

            function checkPasswords() {
                const password = passwordInput.value;
                const confirmPassword = confirmPasswordInput.value;

                // Enable button only if both fields are not empty and they match
                if (password && confirmPassword && password === confirmPassword) {
                    saveButton.disabled = false;
                } else {
                    saveButton.disabled = true;
                }
            }

            passwordInput.addEventListener('input', checkPasswords);
            confirmPasswordInput.addEventListener('input', checkPasswords);
        });
    </script>

{% endblock %}