{% extends 'index.html' %}
{% load static %}
{% load humanize %}
{% block content %}


<div class="modal fade fullscreen-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4 fw-bold" id="exampleModalLabel">Book Your Tiles</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body p-4 pt-0">
                <div class="d-flex justify-content-between flex-wrap align-items-center mb-4">
                    <div class="lead">
                        <strong>Available Tiles: <span class="text-info">{{ available_tiles_count }}</span></strong>
                    </div>
                    <div class="d-flex justify-content-end flex-wrap gap-3">
                        <div class="d-flex align-items-center" style="margin-right: 1rem;">
                            <div class="booking-tile available-tile" style="margin-right: .5rem;"></div>
                            <span class="small text-muted">Available</span>
                        </div>
                        <div class="d-flex align-items-center" style="margin-right: 1rem;">
                            <div class="booking-tile processing-tile" style="margin-right: .5rem;"></div>
                            <span class="small text-muted">Processing</span>
                        </div>
                        <div class="d-flex align-items-center" style="margin-right: 1rem;">
                            <div class="booking-tile sold-tile" style="margin-right: .5rem;"></div>
                            <span class="small text-muted">Sold</span>
                        </div>
                    </div>
                </div>

                <hr>

                <div id="tile-container" class="bg-light rounded-3 p-3 overflow-auto shadow-sm" style="max-height: 70vh;">
                    <div class="tile-grid">
                        {% for t in t_range %}
                        <div id="{{t}}" class="booking-tile p-2 rounded text-center fw-bold
                            {% if t in sold_tiles_set %}
                                sold-tile
                            {% elif t in processing_tiles_set %}
                                processing-tile
                            {% else %}
                                available-tile
                            {% endif %}">
                            <span class="tile-number">{{t}}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="modal-footer d-flex flex-column flex-sm-row justify-content-between align-items-center p-4 border-0">
                <div id="summary-section" class="text-start text-sm-start mb-3 mb-sm-0">
                    <h5 class="fw-bold mb-1">
                        Total:
                        <span class="js-selected-count">0</span> x
                        <span data-tile-value="{{project.tile_value}}">₹{{ project.tile_value }}</span> =
                        <span class="text-primary">₹<span class="js-selected-total">0</span></span>
                    </h5>
                    <p class="mb-0 fw-bold text-dark">
                        Selected Tiles: <span class="js-selected-tiles fs-6 text-muted">None</span>
                    </p>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" style="margin-right: 1rem;">Close</button>
                    <form method="post" class="">
                        {% csrf_token %}
                        <input type="hidden" id="selected-tiles-input" name="selected_tiles_input">
                        <button type="submit" id="book-button" class="btn btn-primary btn-sm" disabled>Proceed to Payment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade fullscreen-modal" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-end">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body text-center d-flex align-items-center justify-content-center">
                <img src="" id="modalImage" class="img-fluid" alt="Full-size Project Image">
            </div>
        </div>
    </div>
</div>

<section class="project-area section-gap" id="project">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card shadow-lg h-100 rounded-4 overflow-hidden">
                    <div class="row g-0">
                        <div class="col-12">
                            <div id="projectImageCarousel" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    {% for image in project.images.all %}
                                    <button type="button" data-bs-target="#projectImageCarousel" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}" aria-current="{% if forloop.first %}true{% endif %}" aria-label="Slide {{ forloop.counter }}"></button>
                                    {% endfor %}
                                </div>
                                <div class="carousel-inner carousel-image">
                                    {% if project.images.all %}
                                        {% for image in project.images.all %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <img src="{{ image.project_img.url }}" class="d-block w-100 image-clickable" alt="Project Image {{ forloop.counter }}" data-bs-toggle="modal" data-bs-target="#imageModal" data-full-image-url="{{ image.project_img.url }}">
                                        </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="carousel-item active">
                                            <img src="{% static 'Dashboard/img/photos/default-banner.jpg' %}" class="d-block w-100 image-clickable" alt="No image available" data-bs-toggle="modal" data-bs-target="#imageModal" data-full-image-url="{% static 'Dashboard/img/photos/default-banner.jpg' %}">
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-5">
                            <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-4">
                                <h3 class="fw-bold mb-2 mb-md-0">{{ project.title }}</h3>
                                 {% if project_status == 'Completed' %}
                                    <button type="button" class="btn btn-success btn-lg" disabled>
                                        Donation Completed
                                    </button>
                                {% elif project_status == 'Closed' %}
                                    <button type="button" class="btn btn-danger btn-lg" disabled>
                                        Project Closed
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-info btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Donate Now
                                    </button>
                                {% endif %}
                            </div>

                            <hr>

                            <div class="row g-4 mb-4 text-center">
                                {% if project_status == Active %}
                                <div class="col-md-4">
                                    <div class="card h-100 shadow-sm border-info border-3">
                                        <div class="card-body">
                                            <h6 class="fw-bold text-info text-uppercase mb-2">Available Tiles</h6>
                                            <h3 class="display-5 fw-bold mb-0">{{ available_tiles_count }}</h3>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="col-md-4">
                                    <div class="card h-100 shadow-sm border-secondary border-3">
                                        <div class="card-body">
                                            <h6 class="fw-bold text-muted text-uppercase mb-2">Tile Value</h6>
                                            <h3 class="display-5 fw-bold mb-0">₹{{ project.tile_value|floatformat:2|intcomma }}</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card h-100 shadow-sm border-success border-3">
                                        <div class="card-body">
                                            <h6 class="fw-bold {% if project.closed_by %} text-danger {% else %} text-success {% endif %} text-uppercase mb-2">{% if project.closed_by %} Closed on {% else %} Opened on {% endif %}</h6>
                                            <h3 class="display-5 fw-bold mb-0">{% if project.closed_by %} {{ project.closed_by|date:"F j, Y" }} {% else %} {{ project.started_at|date:"F j, Y" }} {% endif %}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p class="text-muted">{{ project.description }}</p>

                            <div class="my-4">
                                <div class="progress" role="progressbar" aria-label="Project Progress" aria-valuenow="{{ project.progress }}" aria-valuemin="0" aria-valuemax="100" style="height: 10px;">
                                    <div class="progress-bar bg-primary" style="width: {{ project.progress }}%;"></div>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <span class=" text-muted">Raised: <strong class="text-success">₹{{ project.current_amount|floatformat:2|intcomma }}</strong> of <strong class="text-info">₹{{ project.funding_goal|floatformat:2|intcomma }}</strong></span>
                                    <strong class="text-primary">{{ project.progress }}% Completed</strong>
                                </div>
                            </div>

                            <hr>

                            <div class="row g-4">
                                <div class="col-12">
                                    <div class="card shadow-sm border rounded-4 p-4">
                                    <h5 class="fw-bold mb-4">Beneficiary Details</h5>
                                        <div class="row g-4 align-items-center">
                                            <div class="col-md-4 text-center">
                                                <img
                                                    {% if project.beneficiary.profile_pic %}
                                                        src="{{ project.beneficiary.profile_pic.url }}"
                                                    {% else %}
                                                        src="{% static 'Dashboard/img/avatars/default-avatar.jpg' %}"
                                                    {% endif %}
                                                    alt="Beneficiary image"
                                                    style="width: 150px; height: 150px;"
                                                    class="rounded-circle border border-5 border-white shadow-lg mb-3">
                                                <h5 class="fw-bold mb-0">{{ project.beneficiary.first_name }} {{ project.beneficiary.last_name }}</h5>
                                                <p class="text-muted">{{ project.beneficiary.title }}</p>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="table-responsive">
                                                    <table class="table table-borderless table-sm mb-0 text-start">
                                                        <tbody>
                                                            <tr>
                                                                <th class="text-muted fw-bold ps-0" style="width: 120px;">Age</th>
                                                                <td>{{ project.beneficiary.age }} years old</td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-muted fw-bold ps-0">Phone</th>
                                                                <td>+91-{{ project.beneficiary.phone_number }}</td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-muted fw-bold ps-0">Address</th>
                                                                <td>{{ project.beneficiary.address }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

<script>
    {% if messages %}
        {% for message in messages %}
            Swal.fire({
                title: '{{ message.tags|title }}!',
                text: '{{ message }}',
                icon: '{{ message.tags }}',
                confirmButtonText: 'OK'
            });
        {% endfor %}
    {% endif %}
</script>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const imageModal = document.getElementById('imageModal');
    imageModal.addEventListener('show.bs.modal', (event) => {
        // Get the image that was clicked
        const image = event.relatedTarget;

        // Get the URL from the data attribute
        const imageUrl = image.getAttribute('data-full-image-url');

        // Set the source of the image inside the modal
        const modalImage = document.getElementById('modalImage');
        modalImage.src = imageUrl;
    });
});

</script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const tileGrid = document.querySelector('.tile-grid');
        const bookButton = document.getElementById('book-button');
        const selectedCountSpans = document.querySelectorAll('.js-selected-count');
        const selectedTilesSpans = document.querySelectorAll('.js-selected-tiles');
        const selectedTotalSpans = document.querySelectorAll('.js-selected-total');
        const selectedTilesInput = document.getElementById('selected-tiles-input');

        const tileValueElement = document.querySelector('#summary-section span[data-tile-value]');
        const tileValue = parseFloat(tileValueElement.dataset.tileValue);

        let selectedTiles = new Set();

        tileGrid.addEventListener('click', (event) => {
            const clickedTile = event.target.closest('.booking-tile');

            // The key fix: check for 'available-tile'
            if (clickedTile && clickedTile.classList.contains('available-tile')) {
                const tileId = clickedTile.id;

                if (clickedTile.classList.contains('selected')) {
                    clickedTile.classList.remove('selected');
                    selectedTiles.delete(tileId);
                } else {
                    clickedTile.classList.add('selected');
                    selectedTiles.add(tileId);
                }
                updateSummary();
            }
        });

        function updateSummary() {
            const selectedTilesString = Array.from(selectedTiles).join('-');
            const totalValue = selectedTiles.size * tileValue;

            selectedCountSpans.forEach(span => {
                span.textContent = selectedTiles.size;
            });
            selectedTilesSpans.forEach(span => {
                span.textContent = selectedTilesString;
            });
            selectedTotalSpans.forEach(span => {
                span.textContent = totalValue.toFixed(2);
            });

            selectedTilesInput.value = selectedTilesString;

            if (selectedTiles.size > 0) {
                bookButton.disabled = false;
            } else {
                bookButton.disabled = true;
            }
        }
    });
</script>
{% endblock %}