{% extends 'index.html' %}
{% load static %}
{% block content %}

    <!-- Start Sign In Area -->
    <section class="donate-area relative section-gap" id="donate">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12 col-sm-12 pb-50 header-text text-center">
                    <h1>Sign-In</h1>
                </div>
                <div class="col-lg-4 contact-right">
                    <form class="booking-form" id="myForm" method="post">
                        {% csrf_token %}

    <!--                  Error or Success Message-->
                            {% if messages %}
                                {% for message in messages %}
                                    <p class="text-white">{{ message }}</p>
                                {% endfor %}
                            {% endif %}

                        <div class="row">
                            <div class="col-lg-12 d-flex flex-column pb-10">
                                <input name="username" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter username'" class="form-control mt-20" required type="text">
                            </div>
                            <div class="col-lg-12 d-flex flex-column pb-10">
                                <input name="password" placeholder="Enter password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter password'" class="form-control mt-20" required type="password">
                            </div>

                            <div class="col-lg-12 d-flex pb-20 send-btn justify-content-center">
                                <button type="submit" class="submit-btn primary-btn mt-30 text-uppercase ">Sign in</button>
                            </div>

                            <div class="alert-msg"></div>

                            <div class="col-lg-12 text-white pb-40 d-flex justify-content-between">
                                <div>
                                    <a href="" class="text-white">Forgot Password..?</a>
                                </div>
                                <div>
                                    New to here...<a href="/sign-up/" class="text-white"> Sign Up.</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Sign In Area -->

{% endblock %}