{% extends 'index.html' %}
{% load static %}
{% block content %}

    <!-- Start Sign In Area -->
    <section class="donate-area relative section-gap" id="donate">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12 col-sm-12 pb-50 header-text text-center">
                    <h1>Sign-Up</h1>
                </div>
                <div class="col-lg-6 contact-right">
                    <form class="booking-form" id="myForm" method="post">
                        {% csrf_token %}

<!--                            Error or Success message-->
                        {% if messages %}
                            {% for message in messages %}
                                <p  class="text-white">{{ message }}</p>
                            {% endfor %}
                        {% endif %}

                        <div class="row">
                            <div class="col-lg-6 d-flex flex-column">
                                <input name="fname" placeholder="Enter your first name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your first name'" class="form-control mt-20" required="" type="text">
                            </div>
                            <div class="col-lg-6 d-flex flex-column">
                                <input name="lname" placeholder="Enter your last name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your last name'" class="form-control mt-20" required="" type="text">
                            </div>

                            <div class="col-lg-6 d-flex flex-column">
                                <input name="email" placeholder="Enter your email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="form-control mt-20" required type="email">
                            </div>
                            <div class="col-lg-6 d-flex flex-column">
                                <input name="phn" placeholder="Enter your phone number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your phone number'" class="form-control mt-20" required="" type="tel">
                            </div>
                            <div class="col-lg-12 d-flex flex-column">
                                <select name="inst" class="form-control mt-20" required>
                                    <option selected disabled>Select your institution</option>
                                    {% for i in inst %}
                                    <option value="{{i.id}}">{{i.institution_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-6 d-flex flex-column">
                                <input name="password" id="password" placeholder="Enter password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter password'" class="form-control mt-20" required type="password">
                            </div>
                            <div class="col-lg-6 d-flex flex-column">
                                <input name="cpwd" id="cpwd" placeholder="Confirm password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm password'" class="form-control mt-20" required type="password">
                            </div>
                            <div class="col-lg-12 d-flex pb-30 send-btn justify-content-center">
                                <button type="submit" id="registerButton" class="submit-btn primary-btn mt-20 text-uppercase" disabled>Register</button>
                            </div>

                            <div class="alert-msg"></div>

                            <div class="col-lg-12 text-white text-center">
                                Already has an Account...<a href="/sign-in/" class="text-white"> Sign In.</a> <br>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Sign In Area -->

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const password = document.getElementById('password');
            const confirmPassword = document.getElementById('cpwd');
            const registerButton = document.getElementById('registerButton');
            function validatePasswords() {
                if (password.value === '' || confirmPassword.value === '' || password.value !== confirmPassword.value) {
                    registerButton.disabled = true;
                } else {
                    registerButton.disabled = false;
                }
            }
            password.addEventListener('input', validatePasswords);
            confirmPassword.addEventListener('input', validatePasswords);
        });
    </script>

{% endblock %}